{% extends "base.html" %}

{% block content %}

<h1>About Chaq</h1>

<p>The aim of this project is to create the most effective use of natural language software agents in implementing intelligent responses for human questions on a specific topic.</p>

<p>You can ask questoins about the following topics: .Net, Ajax, Android, Asp.Net, C, C#, C++, Css, Django, Git, HTML, Iphone, Java, Javascript, Jquery, JSON, Linux, MySql, Perl, PHP, Python, Ruby-on-Rails, SQL, Wordpress</p>

<p>Example questions:</p>
<ul>
	<li>What are common programming mistakes for PHP developers to avoid?</li>
	<li>How to edit an incorrect commit message in GIT?</li>
	<li>Why not use tables for layout in HTML?</li>
	<li>How to undo last commit?</li>
	<li>What is a metaclass in Python?</li>
	<li>What is the best way to stop SQL injections in PHP?</li>
	<li>Is Git better than Subversion?</li>
	<li>How to check a checkbox with Jquery or Javascript?</li>
	<li>What are the best resources to learn Javascript?</li>
	<li>What does Ruby have that Python doesn't, and vice versa?</li>
	<li>How can I remove a property from a Javascript object?</li>
	<li>How do I check if a file exists using Python?</li>
	<li>How to encode a URL in Javascript?</li>
</ul>

<p>Software used in this project:</p>
<ul>
	<li>Python</li>
	<li>Django</li>
	<li>Natural Language Processing Python Toolkit</li>
	<li>PyAIML</li>
	<li>Stack Overflow (for the data)</li>
</ul>

<p>You can see the proposal document for this project at the following URL: <a href="https://docs.google.com/document/pub?id=1CffvuiEYe3y7uXDdNxF6ioQY1Yp_w2qB__rfKiWAPxc">https://docs.google.com/document/pub?id=1CffvuiEYe3y7uXDdNxF6ioQY1Yp_w2qB__rfKiWAPxc</a></p>

<p>More details on this page should come soon...</p>

{% endblock content %}