{% extends "base.html" %}

{% block content %}

<div class="chat">

  {% if error_message %}
    <p class="error">{{ error_message }}</p>
  {% endif %}

  {% if notice_message %}
    <p class="notice">{{ notice_message }}</p>
  {% endif %}

  <form method="post" action="{% url chaqinterface.ask %}" class="well form-inline">
    {% csrf_token %}
    <p>
      <label for="topics">Topics:</label>
      <a href="#" class="label label-info" title="Click to remove topic">PHP</a>
      <a href="#" class="label label-info" title="Click to remove topic">Security</a>
      <a href="#" class="label label-info" title="Click to remove topic">Database</a>
      <button class="btn">+</button>
    </p>
    <p>
      <label for="question">Ask: </label>
      <input type="text" name="question" id="question" placeholder="Ask your questions" required/>
      <input type="submit" name="ask-question" value="Go!" class="btn"/>
    </p>
  </form>

  {% if conversation_log %}
    <ul class="conversation">
      {% for conversation in conversation_log %}
        <li>
          <span>{{ conversation.timestamp }}</span>
          <br/>
          {{ conversation.question }}
          <br/>
          {{ conversation.answer }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% if conversation %}
      <p>
      Question: {{ conversation.question }}<br/>
      Answer: {{ conversation.answer }}
      </p>
    {% endif %}
    <p class="alert alert-error">No logs available until you log in &hellip;</p>
  {% endif %}
</div>

{% endblock content %}