{% extends "base.html" %}

{% block content %}

<h1>View Conversation Logs</h1>
{% if conversation_log %}

    <div class="pagination">
      <ul>
        {% if page.has_previous %}
          <li>
            <a href="?page={{ page.previous_page_number }}">&larr;</a>
          </li>
        {% endif %}
        {% for p in pages %}
          <li {% ifequal p currentPage %} class="active" {% endifequal %}>
            <a href="?page={{ p }}">{{ p }}</a>
          </li>
        {% endfor %}
        {% if page.has_next %}
          <li>
            <a href="?page={{ page.next_page_number }}">&rarr;</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <ul class="conversation">
    {% for conversation in conversation_log %}
        <li>
          <span>{{ conversation.timestamp }}</span>
          <br/>
          {{ conversation.question }}
          <br/>
          {{ conversation.answer }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <br/>
    <p>No logs are available. You must be logged in to save your logs.</p>
{% endif %}

{% endblock content %}